[Unit]
Description=Post-maintenance report on Sunday 11:00 UTC

[Timer]
OnCalendar=Sun *-*-* 11:00:00 UTC
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
