[Unit]
Description=Reboot on Sunday 09:00 UTC if required by pending kernel updates

[Timer]
OnCalendar=Sun *-*-* 09:00:00 UTC
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
